.file-upload-wrapper+.file-upload-wrapper {
    margin-top: 15px;
}

.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
}

.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--light-background);
    padding: 0 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 10;
    height: 100%;
    line-height: 40px;
    color: var(--body-font-color);
    border-radius: 5px;
    font-weight: 300;
    border: 1px solid var(--light-background);
}

.file-upload-wrapper:before {
    content: 'Choose File';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 100%;
    background: var(--theme-secondary);
    color: var(--body-font-color);
    font-weight: 500;
    z-index: 15;
    font-size: 14px;
    line-height: 40px;
    padding: 0 15px;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
}

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}

.logo-icon-setting img {
    max-width: 100%;
    height: auto;
}

label.required:after {
    content: '*';
    color: #DC3545 !important;
    margin-left: 2px;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38.67px !important;
    line-height: 1.5;
}

.select2-selection__choice__display{
    color: #7A70BA;
}

.sp-replacer {
    padding: 0;
    border: none;
    border-radius: 5px 0 0 5px;
}

.sp-preview {
    width: 100px;
    height: 40px;
    border: 0;
}

.sp-preview-inner {
    width: 110px;
}

.sp-dd {
    display: none;
}

.button--group {
    margin: -5px -15px;
}

.button--group .btn {
    margin: 2px 3px;
}

.image-upload .thumb .profilePicPreview {
    width: 100%;
    height: 210px;
    display: block;
    border-radius: 10px;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

@media (max-width:1500px) {
    .image-upload .thumb .profilePicPreview {
        height: 152px;
    }
}

.image-upload .thumb .profilePicPreview.logoPicPrev {
    background-size: contain !important;
    background-position: center;
}

.image-upload .thumb .profilePicUpload {
    font-size: 0;
    display: none;
}

.image-upload .thumb .avatar-edit label {
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    cursor: pointer;
    padding: 2px 25px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 16%);
    transition: all 0.3s;
    margin-top: 6px;
}

.image-upload .thumb .profilePicPreview .remove-image {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 34px;
    height: 34px;
    border: none;
    display: none;
    opacity: .8;
}

.image-upload .thumb .profilePicPreview .remove-image:hover {
    opacity: 1;
}

.image-upload .thumb .profilePicPreview.has-image .remove-image {
    display: block;
}

.iconpicker-popover.fade {
    opacity: 1;
}

.iconpicker .iconpicker-items {
    background: var(--light-background);
}

.iconpicker-popover.popover .popover-title {
    background: var(--light-background);
}

.ck .ck-editor__main,
.ck .ck-editor__main h1,
.ck .ck-editor__main h2,
.ck .ck-editor__main h3,
.ck .ck-editor__main h4,
.ck .ck-editor__main h5,
.ck .ck-editor__main span {
    color: rgb(33, 37, 41);
}

.ck-editor__editable_inline ol {
    list-style-type: decimal !important;
    margin: 20px !important;
}

.ck-editor__editable_inline ul {
    list-style-type: disc !important;
    margin: 20px !important;
}